/* Hide numbers with Jupyter notebook cells */
div.nbinput.container div.prompt pre {
    display: none;
}

div.nboutput.container div.prompt pre {
    display: none;
}

/* Shift notebook cells left to account for no numbers */
div.highlight-python.notranslate pre {
    padding-left: 5px;
}

/* Customise the copy buttons */
/* increase size, less transparent, faster transition */
a.copybtn {
    width: 25px;
    height: 25px;
	opacity: 0.5;
    transition: opacity 0.3s;
}

/* make sure image fills width */
a.copybtn > img {
    width: 100%;
}

/* hide buttons in output */
.nboutput a.copybtn {
    display:none;
}

/* don't wait too long */
.o-tooltip--left:hover:after {
    transition-delay: 0.2s;
}
.navbar-brand img {
   height: 60px;
}
.navbar-brand {
   height: 75px;
}

pre, code {
  font-size: 100%;
  line-height: 155%;
}

div.output_area div[class*=highlight] pre {
  white-space: pre-wrap;
}

dt:target, span.highlighted {
    background: none!important;
    border-left: 5px solid var(--pst-color-text-base);
    padding-left: 10px;
}

dl blockquote {
    margin-left: 1rem;
    padding: 0.4rem 0rem;
    padding-left: 0.4rem;
}

:root {
  --pst-color-primary: #805bd2!important;
  --pst-font-family-base: 'Signika', sans-serif!important;
  --pst-font-family-base-system: 'Signika', sans-serif!important;
  --pst-font-family-heading: 'Signika', sans-serif!important;
}

.bd-content {
    flex-grow: 1;
    max-width: 100%;
}

table.dataframe {
    width: unset;
}