name: Install, test and assess coverage

on: 
  pull_request:
    branches: [ main ]
    paths:
      - 'cogsworth/**'
      - 'setup.cfg'
      - 'setup.py'
      - 'pyproject.toml'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache gaiaunlimited data
      uses: actions/cache@v4
      with:
        path: ~/.gaiaunlimited
        key: gaiaunlimited-data
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install gsl-bin libgsl0-dev build-essential
        sudo apt-get install libhdf5-serial-dev
        python -m pip install --upgrade pip
        # need to pre-install these to make agama work
        python -m pip install numpy setuptools wheel --no-build-isolation
        git clone https://github.com/GalacticDynamics-Oxford/Agama.git agama
        cd agama
        pip install . --config-settings --build-option=--yes --no-build-isolation
        cd ..
        python -m pip install -e .[test]
    - name: Ensure the gaiaunlimited folder exists and download data
      run: |
        mkdir -p ~/.gaiaunlimited
        wget -O ~/.gaiaunlimited/allsky_M10_hpx7.hdf5 https://zenodo.org/record/8063930/files/allsky_M10_hpx7.hdf5?download=1
    - name: Test package with pytest and generate coverage report
      run: |
        # test with as many cores as possible for speed
        pytest cogsworth -n=auto --cov=./ --cov-report=xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: false
        files: ./cov.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
